@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background-color: rgba(38, 35, 41, 1);
}

h1, p, a {
    color: white
}